@model IEnumerable<IdentityManager.Models.Student>

<div class="col-md-8 offset-md-2">

    <h1 class="text-center"><i class="fas fa-comments-dollar text-success"></i>Student</h1>


    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Batch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddmissionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNo)
                </th>
             
                <th>
                    <a onclick="showInPopup('@Url.Action("_view","Teacher",null,Context.Request.Scheme)',' New Teacher')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Teacher</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Batch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNo)
                </td>
                
                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("Index","Teacher",new {id=item.StudentId},Context.Request.Scheme)','Update Student')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.StudentId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="hidden" asp-for="@item.StudentId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>}
        </tbody>
    </table>
</div>