@model IEnumerable<IdentityManager.Models.Department>

<div class="col-md-8 offset-md-2">

    <h1 class="text-center"><i class="fas fa-comments-dollar text-success"></i>Teacher</h1>


    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift)
                </th>
               <th>
                    <a onclick="showInPopup('@Url.Action("Index","Department",null,Context.Request.Scheme)','New Department')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Department</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shift)
                </td>
                
                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("Index","Department",new {id=item.DepartmentId},Context.Request.Scheme)','Update Teacher')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.DepartmentId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="hidden" asp-for="@item.DepartmentId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>}
        </tbody>
    </table>
</div>